<style>
	
@media screen and (min-width: 480px) {
    header {
     background: url(url(../img/轮播图1.jpg)) no-repeat;
 }
}
@media screen and (min-width: 800px) {
    header {
     background: url(url(../img/轮播图1.jpg)) no-repeat;
 }
}


p {
	font-family: "Times New Roman";
	font-size: 20px;
}

a:link {
	color: black;
}


/* 未访问链接*/

a:visited {
	color: gray;
}


/* 已访问链接 */

a:hover {
	font-size: 120%;
}


/* 鼠标移动到链接上 */

a:active {
	color: gold;
}


/* 鼠标点击时 */


/*侧边栏样式*/

.list {
	width: auto;
	height: 768px;
	opacity: 0.5;
	background: white;
	float: left;
	line-height: 50px;
}
/*背景图*/

.backimg {
	background-image: url(../img/轮播图1.jpg);
	background-position: center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed ;
}

</style>